html {
  position: relative;
  min-height: 100%;
 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}
body{
    margin-bottom: 60px;
    font-family: 'Quicksand' sans-serif;
}

.carousel{
  margin-top: 40px;
}

.card-deck{
  width:325px; 
  margin-top: 20px; 
  margin-right: 20px; 
  margin-left: 20px;

}
#resultStyle{
  margin-left:20px;
  margin-right:0;
}

#search{
  width:800px;
  border-radius:4px;

}
.navbar{
  min-height: 80px;
}

.img-fluid{ 
  max-width: 100%;
  height: auto; 
} 

#row-align{
  margin-top: 200px;
}

#log{
  margin-top: 150px;
  border-style:solid; 
  border: 1px solid grey; 
  border-radius: 10px ; 
  width:500px;
}

#reg{
  margin-top: 150px;
  border-style:solid; 
  border: 1px solid grey; 
  border-radius: 10px ;
  width:500px;

}
