html {
  position: relative;
  min-height: 100%;

 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}
body{
    margin-bottom: 60px;
    font-family: 'Quicksand' sans-serif;
   
}

.carousel{
  margin-top: 20px;
}

.card-deck{
  width:325px; 
  margin-top: 20px; 
  margin-right: 20px; 
  margin-left: 20px;

}
#result-style{
  margin-left:20px;
  margin-right:0;
}

#search{
  width:1000px;
  border-radius:4px;
}
.input-group{
  left:60px; 
}


.navbar{
  min-height: 80px;
}

.img-fluid{ 
  max-width: 100%;
  height: auto; 
} 

#row-align{
  margin-top: 200px;
}
.jumbotron{
  margin-top:35px;
}

#bg{
  /* Full height */
 
  width: 100%;
  margin-top: 30px;
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Half height */
  height: 800px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hpfont-size{
  font-size: 100px;
  font-family: Market Sans;
}

#home-cards{
  margin-top: 30px;
  text-align: center;

}
.top-right {
  position: absolute;
  top: 100px;
  right: 16px;
  color:white;

}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}







