<!DOCTYPE html>
<html lang="en">

<% include layout/header %>
<link rel="stylesheet" href="/about.css" />

<body>
    <div>
    <% include layout/navbar %>
    </div>

    
<div class="container">
  <div class="row justify-content-end" style="text-align: center">
        <div class="col-6 align-self-center">
            <h1>Back-End<br>
                Developer</h1>
            <hr>
        </div>
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/sunminder.jpg" alt="Sunminder">
                <div class="card-body">
                    <p class="card-text">
                        My name is Sunminder Sandhu, i’m currently a senior at San Francisco State University, majoring in Computer
                        Science. Outside of school, I love watching movies, traveling and reading books. I interned as a programmer
                        analyst intern at E&J Gallo winery over the summer, where I got first hand experience on the how the IT
                        field works. After I graduate I would love to work as programmer in the IT field.</p>
               </div>
        </div>   
    </div>
  </div>
</div>
    <% include layout/footer %>
</body>

</html>