<!DOCTYPE html>
<html lang="en">

        <% include layout/header %>
        <link rel="stylesheet" href="/style.css"/>
        <body>
            <% include layout/navbar %>
    <div class="entry">
        <img src="/images/sunminder.jpg" alt="About Sunminder" class="align-left medium" />
        <hr class="style-one" />
        <h3><b>Sunminder Sandhu</b></h3>
        <h4><i>Back-End Developer</i></h4>
    </div>
    <div id="about">
        <p> 
        My name is Sunminder Sandhu, i’m currently a senior at San Francisco State University, majoring in Computer Science. Outside of school, I love watching movies, traveling and reading books. I interned as a programmer analyst intern at E&J Gallo winery over the summer, where I got first hand experience on the how the IT field works. After I graduate I would love to work as programmer in the IT field.
        </p>
    </div>
</body>
</html>