<!DOCTYPE html>
<html lang="en">

<% include layout/header %>
<link rel="stylesheet" href="/about.css" />

<body>
    <% include layout/navbar %>
    <div class="entry">
        <img src="/images/BigJon.jpg" alt="Jonathan Fontejon" class="align-left medium" />
        <hr class="style-one" />
        <h3><b>Jonathan Fontejon</b></h3>
        <h4><i>Back-End Developer</i></h4>
    </div>
    <div id="about">
        <p> My Name is Jonathan "BigJon" Cruz Fontejon and I am a transfer student at San Francisco State University.
            <br>
            My major is Computer Science (Web Development and Multimedia Design) and Minor in Asian American Studies
            (AAS) <br><br>
            I currently commute from Vallejo, CA to SFSU and previously worked at Six Flags and Walmart. <br><br>
            Made successful game projects for CSC 413 and have Javascript (HTML, CSS, PHP) experience from 412. <br>
            Occupations: Full-time CS student and fighting game player (MKXL, MK11, MvCi, DBFZ, BBTag, SFV:AE, USF4,
            etc.) <br>
        </p>
    </div>
    <% include layout/footer %>
</body>

</html>