<!DOCTYPE html>
<html lang="en">

<% include layout/header %>
<body>
    <% include layout/navbar %>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron">
      <h4><strong>*SFSU Software Engineering Project CSC 648-848, Fall 2019.  For Demonstration Only</strong></h4>
      <p class="lead"></p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
      <!-- Ida's part-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/ida.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Ida Hui</h4>
            <p class="card-text">Team Lead / Front-End Developer</p>
          </div>
          <div class="card-footer">
            <a href="/about/ida" class="btn btn-primary">About Ida</a>
          </div>
        </div>
      </div>
        <!-- Ryan's part-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/ryan.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Ryan Shu</h4>
            <p class="card-text">Github Master / Front-End Developer</p>
          </div>
          <div class="card-footer">
            <a href="/about/ryan" class="btn btn-primary">About Ryan</a>
          </div>
        </div>
      </div>
      <!-- Alan's part-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/alan.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Alan Nguyen</h4>
            <p class="card-text">Front-End Lead</p>
          </div>
          <div class="card-footer">
            <a href="/about/alan" class="btn btn-primary">About Alan</a>
          </div>
        </div>
      </div>
      <!-- Russell's part-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/russell.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Russell Wong</h4>
            <p class="card-text">Back-End Lead</p>
          </div>
          <div class="card-footer">
            <a href="/about/russell" class="btn btn-primary">About Russell</a>
          </div>
        </div>
      </div>
      <!-- Jon's part-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/BigJon.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Jon Fontejon</h4>
            <p class="card-text">Back-End Developer</p>
          </div>
          <div class="card-footer">
            <a href="/about/jonathan" class="btn btn-primary">About Jon</a>
          </div>
        </div>
      </div>
      <!-- Daisy's part-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/daisy.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Daisy Sanchez</h4>
            <p class="card-text">Back-End Developer</p>
          </div>
          <div class="card-footer">
            <a href="/about/daisy" class="btn btn-primary">About Daisy</a>
          </div>
        </div>
      </div>
      <!-- Sunny's part-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/sunminder.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Sunminder Sandhu</h4>
            <p class="card-text">Back-End Developer</p>
          </div>
          <div class="card-footer">
            <a href="/about/sunminder" class="btn btn-primary">About Sunminder</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <% include layout/footer %>
</body>
</html>