<!DOCTYPE html>
<html lang="en">

        <% include layout/header %>
        <link rel="stylesheet" href="/style.css"/>
        <body>
            <% include layout/navbar %>
     <div class= "entry"> 
        <img src="/images/ryan.jpg" alt="Ryan Shu" class="align-left medium"/>
        <hr class="style-one" />
        <h3><b>Ryan Shu</b></h3>
        <h4><i>Github Master/Front-End Dev</i></h4>
         </div> 
        <div id="about">
            <p> My name is Ryan Shu, I am currently a senior in the computer science program at <b>San Francisco State University</b>. <br> 
                <br>
                I love to work on full stack projects, where many different commponents come together to create one elegant app. 
                My hobbies include <a href="https://www.flickr.com/photos/ryanshuzzz/"><font color="black">photography</font></a>, working on my car, racing my car, and playing video games.
                <br><br>
                After I graduate, I would love to work in the field at any small to medium sized company working on creating, maintaining and advancing projects.<br>
            <br><br>   
            </p>
        </div>
</body>
</html>















