<!DOCTYPE html>
<html lang="en">

        <% include layout/header %>
        <link rel="stylesheet" href="/about.css"/>
        <body>
            <% include layout/navbar %>
     <div class= "entry"> 
        <img src="/images/alan.jpg" alt="Alan Nguyen" class="align-left medium"/>
        <hr class="style-one" />
        <h3><b>Alan Nguyen</b></h3>
        <h4><i>Front-End Lead</i></h4>
         </div> 
        <div id="about">
            <p> My name is Alan Nguyen, I am currently a senior in the computer science program at <b>San Francisco State University</b>. <br> 
                <br>
                I enjoy building things that showcase my skills and that's why I have a loving passion for building
                websites.
                <br><br>
                My goal when I graduate is to get a job anywhere in the world<br>
                where I can contribute to a team that aspires to be forward thinking and innovative.<br><br>   
            </p>
        </div>
</body>
</html>















