<!doctype html>
<html lang="en">
<% include layout/header %>

<body>
    <div>
        <div>
            <% include layout/navbar %>

        </div>
        <br />
        <h1>Contact Company</h1>
        <form>
    
            <label>Name:</label>
            <input type="text" class="form-control" id="name" aria-describedby="name"
                placeholder="Enter email">
            <br />
            <label>Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Email">
            <br />
            <label>Subject:</label>
            <input type="text class="form-control" id="email" placeholder="Subject Title">
            <br />
            <label>Desciption:</label>
            <textarea id="myTextarea">   </textarea>
            <br />
    
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>