<!DOCTYPE html>
<html lang="en">
  <% include layout/header %>

  <body>
    <div>
      <div>
        <% include layout/navbar %>
      </div>
     
      <br/>
        <div class="container" style="margin-top: 70px;">
          <h1>Contact Aardvark</h1>
          <form class="center" style="width: 75%;">
            <label>Name:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              aria-describedby="name"
              placeholder=""
            />
            <br />
            <label>Email:</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder=""
            />
            <br />
            <label>Subject Title:</label>
            <input type="text class="form-control" id="email"
            placeholder="">
            <br />
            <label>Description:</label>
        <textarea
              class="form-control"
              rows="5"
              id="item_description"
              name = "item_description"
              value = ""
            ></textarea>
        
            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
          </form>
        </div>
      </div>
    

    <% include layout/footer %>
  </body>
</html>
