<!doctype html>
<html lang="en">
<% include layout/header %>
<body>
<div>
    <div>
        <% include layout/navbar %>
    </div>
    <br/>
    <div class="container-fluid">
    <div class="jumbotron">
        <p>THIS IS THE SEARCH RESULT PAGE.</p>
    </div>
         
            <a style="display:block; color: black;" href="#">
            <div class="media border p-3">
            <div class="media-body">
                <div class="d-flex justify-content-between">
                    <div>
                    <h3 class="col-sm-12" style="text-align:left;">
                       Username: coolguy44
                    </div>
                </div>
                    <p>Message: i want to buy item</p>
            </div>
          </div>
        </a>
      
             <a style="display:block; color: black;" href="/message">
            <div class="media border p-3">
            <div class="media-body">
                <div class="d-flex justify-content-between">
                    <div>
                    <h3 class="col-sm-12" style="text-align:left;">
                       Username: sfboy12
                    </div>
                </div>
                    <p>Message: i want to buy item</p>
            </div>
          </div>
        </a>

             <a style="display:block; color: black;" href="#">
            <div class="media border p-3">
            <div class="media-body">
                <div class="d-flex justify-content-between">
                    <div>
                    <h3 class="col-sm-12" style="text-align:left;">
                       Username: sfsu47
                    </div>
                </div>
                    <p>Message: can we haggle price?</p>
            </div>
          </div>
        </a>
    </div>
</div>
<% include layout/footer %> 
</body>
</html>