<!doctype html>
<html lang="en">
<% include layout/header %>
<body>
<div>
<div>
    <% include layout/navbar %>

</div>
<br/>
<div class="jumbotron"> <p>
Welcome to Aardvark! Please type in something in the above search bar for the search for listed items!
</p></div>
</div>
</body>
</html>