<!DOCTYPE html>
<html lang="en">
<% include layout/header %>
<body>
<div>
<% include layout/navbar %>
</div>
    <div class="container-fluid">
        <div class="row">
            <img src="/images/books.jpg" alt="books" id="bg">
           <div class="centered">
               <h1 class="hpfont-size">Welcome to Aardvark</h1>
           </div>
           <div class="top-right">
              <h4 style="font-size:25px"><strong>*SFSU Software Engineering Project CSC 648-848, Fall 2019.  For Demonstration Only</strong></h4>
            </div>
        </div> 
    </div>
  

<br>
<h1 style="text-align: center">Great Finds for All Students</h1>

<!--Carousel-->
    <div id="carousel">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="inam" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;margin: auto;">
                                                <img src="https://via.placeholder.com/500" class="card-img-top">
                                                <div class="card-body">
                                                    <h4 class="card-title">Why you should use skin masks ?</h4>
                                                    <p class="card-text">Skin masks help us to make are skin fresh and
                                                        also
                                                        they protect our skin from the harm rays of sun</p>
                                                    <button type="button" class="btn btn-warning">Read More</button>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;">
                                                <img src="https://via.placeholder.com/500" class="card-img-top">
                                                <div class="card-body">
                                                    <h4 class="card-title">Why you should use skin masks ?</h4>
                                                    <p class="card-text">Skin masks help us to make are skin fresh and
                                                        also
                                                        they protect our skin from the harm rays of sun</p>
                                                    <button type="button" class="btn btn-warning">Read More</button>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;">
                                                <img src="https://via.placeholder.com/500" class="card-img-top">
                                                <div class="card-body">
                                                    <h4 class="card-title">Why you should use skin masks ?</h4>
                                                    <p class="card-text">Skin masks help us to make are skin fresh and
                                                        also
                                                        they protect our skin from the harm rays of sun</p>
                                                    <button type="button" class="btn btn-warning">Read More</button>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>


                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;margin: auto;">
                                                <img src="https://via.placeholder.com/500" class="card-img-top">
                                                <div class="card-body">
                                                    <h4 class="card-title">Why you should use skin masks ?</h4>
                                                    <p class="card-text">Skin masks help us to make are skin fresh and
                                                        also
                                                        they protect our skin from the harm rays of sun</p>
                                                    <button type="button" class="btn btn-warning">Read More</button>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;">
                                                <img src="https://via.placeholder.com/500" class="card-img-top">
                                                <div class="card-body">
                                                    <h4 class="card-title">Why you should use skin masks ?</h4>
                                                    <p class="card-text">Skin masks help us to make are skin fresh and
                                                        also
                                                        they protect our skin from the harm rays of sun</p>
                                                    <button type="button" class="btn btn-warning">Read More</button>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;">
                                                <img src="https://via.placeholder.com/500" class="card-img-top">
                                                <div class="card-body">
                                                    <h4 class="card-title">Why you should use skin masks ?</h4>
                                                    <p class="card-text">Skin masks help us to make are skin fresh and
                                                        also
                                                        they protect our skin from the harm rays of sun</p>
                                                    <button type="button" class="btn btn-warning">Read More</button>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>
                    <!--Carousel buttons-->
                    <a href="#inam" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a href="#inam" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                
                </div>
                    
            </div>

        </div>

    </div>










   

  
    <!--Footer-->
    <% include layout/footer %>
</body>

</html>