body{
    background-color: white;
}
h3{
    margin-left: 375px;
    font-family: 'Cardo', serif;
}
h4{
    margin-left: 375px;
    font-family: 'Cardo', serif;
}


img.align-left {
  display: block;
  margin: 200px auto;
  margin-left: 300px;
  margin-top: 0px;
  margin-bottom: 20px;

 
} 
img.medium {
 
  width: 300px;
  height: 300px;
  

}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-left: 300px;
  

}
.entry{
    float: left;
    margin-left: auto;
    margin-right: auto; 
}

#about{
    font-family: 'Cardo', serif;
    font-size: 16px;
    border: 1px solid black;
    box-shadow: 0px 0px 0px black;
    width: 300px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 800px;
   
  
}

